@import "./font/iconfont.css";
@font-face{
    font-family: "Muli";
    src: url("./font/Muli.ttf");
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
    font-family: "Muli";
}
main{
    margin: 0 auto;
    width: 600px;
}
h2{
    text-align:center;
    font-size: 30px;
    margin: 30px 0;
}
.question{
    width: 540px;
    padding: 30px;
    margin: 20px 0;
    border: 1px solid #999;
    border-radius: 10px;
    position:relative;
    transition: 0.3s;
    overflow: hidden;
}
.question *{
    position: relative;
    z-index: 1;
}
.result{
    display: none;
    height: 30px;
    margin-top: 30px;
    color: #333;
    line-height: 30px;
    font-size: 17px;
}
.showResult{
    background-color: #fff;
    box-shadow: 0px 2px 7px #bbb;
}
.showResult .result{
    display: block !important;
}
.showResult .message-symbol span{
    display: block !important;
}
.showResult .message-symbol span:first-child{
    transform: rotateY(180deg) translate(-20px, -20px);
    color: #74b9ff
}
.showResult .icon-chahao{
    display: block !important;
}
.showResult .icon-xiajiantou{
    display: none !important;
}
.iconfont{
    display:block;
    position:absolute;
    width: 20px;
    height: 20px;
    right: 35px;
    top: 30px;
    font-size: 24px;
    cursor: pointer;
}
.icon-chahao{
    display: none !important;
    font-size: 30px;
    color: #999;
}
.message-symbol{
    position: unset;
}
.message-symbol span{
    display: none;
    opacity: 0.5;
    z-index: 0;
    top: 40px;
    left: 20px;
    font-size: 80px;
    color:#55efc4;
}