*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #111;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
button{
    position: relative;
    width: 130px;
    height: 50px;
    background-color: #0984e3;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #fff;
    overflow: hidden;
}

.effectEl{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1);
    animation: click 0.3s forwards linear;
}
@keyframes click{
    to{
        transform: scale(25);
        opacity: 0;
    }
}