*{
    margin: 0;
    padding: 0;
}
main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #74b9ff;
    display:flex;
    padding: 50px;
    justify-content:space-evenly;
    align-items:center;
}
.sound{
    box-sizing: content-box;
    outline: none;
    border:none;
    width: 100px;
    height: 30px;
    padding: 24px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 7px;
    line-height: 30px;
    text-align:center;
    font-size: 20px;
    color: #eee;
    cursor:pointer;
    text-transform: capitalize;

}
.sound:hover{
    background-color: rgba(0,0,0,0.4);
}
.actived{
    animation: actived 0.2s;
}
@keyframes actived{
    0%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.95);
    }
    10%{
        transform: scale(1);
    }
}