*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3494e4;
    color: #fff;
}
main{
    margin: 0 auto;
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    margin: 10px 0;
}
p{
    margin: 10px;
}
.container{
    width: 140px;
    min-height: 320px;
    margin: 20px 0;
    border: 4px solid #144fc6;
    border-radius: 2px 2px 40px 40px;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    position: relative;
}
.container h3{
    font-size: 18px;
}
.remained{
    width: 100%;
    color: #144fc6;
    font-size: 13px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    transition: 0.3s;
}
.already{
    position:absolute;
    bottom: o;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #6ab3f8;
    color: #144fc6;
    bottom: 0px;
    overflow: hidden;
    transition: 0.3s;
}
.already h3{
    font-size: 28px
}
.bottles{
    width: 280px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bottle{
    box-sizing: border-box;
    margin: 5px;
    width: 50px;
    height: 95px;
    border: 4px solid #144fc6;
    border-radius: 2px 2px 15px 15px;
    text-align:center;
    background-color: #ebf5fc;
    color: #144fc6;
    cursor: pointer;
    transition: 0.3s;
}
.bottle span{
    display: block;
    margin-top: 25px;
    font-size: smaller;
}
.actived{
    background-color: #6ab3f8 !important;
    color: #fff !important;
}